altgraph==0.17.2
bitstring==3.1.9
certifi==2022.9.14
cffi==1.15.1
cryptography==38.0.1
ecdsa==0.18.0
esptool==2.8
future==0.18.2
iso8601==1.0.2
macholib==1.16
modulegraph==0.19.2
numpy==1.23.3
Pillow==9.2.0
py2app==0.28.2; sys_platform == 'darwin'
pyaes==1.6.1
pycparser==2.21
pyinstaller==5.4.1
pyinstaller-hooks-contrib==2022.10
pyserial==3.5
PyYAML==6.0
reedsolo==1.5.4
six==1.16.0
urllib3==1.26.12
wxPython==4.2.0